<footer class="my-footer d-flex justify-content-center align-items-center flex-column mt-20-row">
    <div class="">
        <strong>New Source: </strong>
        <a class="" href="https://www.usatoday.com/sports/">
            <span>USA Today Sports</span>
        </a>
    </div>

</footer>