<footer class="my-footer d-flex justify-content-center align-items-center flex-column mt-20-row">
    <div class="">
        <strong>Sport Scraper</strong> by
        <a class="" href="https://github.com/mbizzle1464/mongo-scraper">
            <span>Michael Bizzle</span>
        </a>
    </div>

</footer>