<div class="jumbotron .image-bg">
    <h1 class="display-4">Welcome to Sport Scraper</h1>
    <p class="lead">Get the latest news from a trusted news source, USA Today.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
</div>