
{{> jumbotron}}

<p class="text-white">Our goal is to create a sports website where fans can find a trusted news outlet while also conversing on a safe environment. We are not affiliated with USA Today or any of it's ancillary companies.<br></p>

<p class="text-white">Sports Scraper is not intended for profit and is strictly created for educational purposes. We do not share any data you provide on our site to any 3rd party sources.</p>
<br> 