<div class="card w-100">
    <h4 class="card-header">Add Comment</h4>
    <div class="card-body">
        <form action="/addcomment/{{article.id}}" method="post">
            <div class="form-group">
                <label for="comment-name">Name</label>
                <input type="text" name="name" class="form-control" id="comment-name" aria-describedby="commentNameHelp" placeholder="Your name">
                <small id="commentNameHelp" class="form-text text-muted">Think of a cool name for yourself.</small>
            </div>
            <div class="form-group">
                <label for="comment-title">Comment Title</label>
                <input type="text" name="title" class="form-control" id="comment-title" aria-describedby="commentTitleHelp" placeholder="Comment Title">
                <small id="commentTitleHelp" class="form-text text-muted">Write a catchy title.</small>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Comment Body</label>
                <textarea class="form-control" name="body" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>